[Unit]
Description=Regenerate component-specific configuration (/conf) if necessary.
DefaultDependencies=no
Before=conffs-mount.service systemd-udev-trigger.service

[Service]
ExecStart=/usr/share/gen-config/hooks/run-hooks
Type=oneshot
RemainAfterExit=yes
TimeoutSec=30

[Install]
WantedBy=sysinit.target
